body {
    // avoid overlap with the navbar
    padding-top: $nav-link-height + 2 * $navbar-padding-y + $spacer;
}

.card {
    margin-bottom: $spacer;
}

nav {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .oi {
        top: 2px; // fix vertical centering on open iconic icons in the navbar
    }

    input.form-control {
        min-width: 75px;
        //border-right: 0;
    }

    .input-group-append {
        z-index: 5; // prevent filter input box from bleeding into clear button on focus

        .input-group-text {
            background-color: $input-bg;
            color: lighten($input-color, 30%);
            cursor: pointer;
        }

        .oi {
            top: 0;
        }
    }

    .dropdown-menu {
        position: absolute !important;
    }

    &.navbar {
        @include media-breakpoint-down(md) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .nav-item {
        @include media-breakpoint-down(md) {
            padding-top: $nav-link-padding-y;
        }
    }
}

div.nav-center {
    @include make-container();
    @include make-container-max-widths();
    position: relative;
    display: flex;
}

a.disabled {
    cursor: default;
}
