{# <!--
    pagemarks - Free, git-backed, self-hosted bookmarks
    Copyright (c) 2019-2021 the pagemarks contributors

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
    License, version 3, as published by the Free Software Foundation.
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
    details.  You should have received a copy of the GNU General Public License along with this program.
    If not, see <https://www.gnu.org/licenses/gpl.html>.
    ________________________________________________________________________________________________________________

    HTML for Google Analytics support.
    This is a genshi template. Context data type is Context with the analytics record from the collection config.
--> #}

    {# should be the first script in the HEAD section #}
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '${ctx.ga_account}', 'auto');{% if ctx.anonymize_ip %}
        ga('set', 'anonymizeIp', true);{% end %}
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>

    {% if ctx.cookie_consent %}\
    <!-- Cookie Consent popup to comply with EU cookie law -->
    <link rel="stylesheet" type="text/css" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"
          integrity="sha384-nA7usz4cMKo7RylsCZnpe0V9qx5X7sa011o0OrDzrKUE7Ero1gB48Fjaw6SFxVZe" />
    <script async crossorigin="anonymous" data-cfasync="false"
          src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
          integrity="sha384-xLPjH6nqG4p/2mu1KJ1t+4KqcvkyXVwBucQtyGK65lDNfKzECxGY/QEYWR+Wompr"></script>
    <script>
        window.addEventListener("load", function(){
          window.cookieconsent.initialise({
            "cookie": { "expiryDays": 730 },
            "palette": {
              "popup": { "background": "#383b75" },
              "button": { "background": "#f1d600" }
            },
            "theme": "classic"
          });
        });
    </script>
    {% end %}
