<!doctype html>
{# <!--
    pagemarks - Free, git-backed, self-hosted bookmarks
    Copyright (c) 2019-2021 the pagemarks contributors

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
    License, version 3, as published by the Free Software Foundation.
    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
    details.  You should have received a copy of the GNU General Public License along with this program.
    If not, see <https://www.gnu.org/licenses/gpl.html>.
    ________________________________________________________________________________________________________________

    HTML of a generated pagemarks website (index page)
    This is a genshi NewTextTemplate, based on Bootstrap 5.
--> #}\
<html lang="en">
<head>\
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">\
    <!-- //ANALYTICS// -->\

    <meta name="pm-global-git-branch" content="${git_branch}">
    <meta name="pm-global-gitlab-id" content="${gitlab_id}">
    <meta name="pm-global-api-url" content="${api_url}">
    <meta name="pm-global-base-url" content="${baseurl}">
    <meta name="pm-global-collection-name" content="${collection_name}">
    <meta name="pm-global-css-themes" content="${css_themes_json}">
    <link rel="stylesheet" href="${baseurl}/css/pagemarks_darkly.css" data-css="main">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>${title}</title>
</head>

<body style="display: none;">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container flex-nowrap">
        <a class="navbar-brand d-none d-lg-inline-block me-5" href="https://pagemarks.org">pagemarks.org</a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-nowrap{% if len(pinned_filters) == 0 %} disabled{% end %} py-1"
                    href="#" id="navbarDropdownPinned" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                    title="Pinned Filters" aria-expanded="false"><i class="bi bi-pin-angle-fill fs-4"
                    aria-hidden="true"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPinned">
                    {% for q in pinned_filters %}
                    <a class="dropdown-item" href="?q=${q.uri_escaped}">${q.html_escaped}</a>{% end %}
                </div>
            </li>
        </ul>

        <form id="pagemarks-filter" class="d-flex my-2 my-lg-0 mx-4 text-nowrap w-100">
            <div class="input-group text-nowrap">
                <input class="form-control pm-filter" placeholder="Filter" type="text" aria-label="Filter Query"><div
                    class="input-group-text pm-input-append pm-onclick-clear-filter"><i
                    class="bi bi-x-circle" title="Clear Filter" aria-label="clear filter"></i></div>
            </div>
        </form>

        <ul class="navbar-nav flex-row">
            <li class="nav-item dropdown" style="min-width:70px;">
                <a class="nav-link dropdown-toggle text-nowrap" href="#" id="navbarDropdownColl" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Main</a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownColl">
                    <a class="dropdown-item" href="#">Acme</a>
                    <a class="dropdown-item" href="#">Company</a>
                </div>
            </li>
            <li class="nav-item dropdown ms-3 ms-md-4">
                <a class="nav-link dropdown-toggle text-nowrap py-1" href="#" id="navbarDropdownSort" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="bi bi-sort-down-alt fs-4" title="Sort" aria-hidden="true"></i></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownSort">
                    <a class="dropdown-item" href="#">Newest</a>
                    <a class="dropdown-item" href="#">by Title</a>
                    <a class="dropdown-item" href="#">by URL</a>
                </div>
            </li>
            <li class="nav-item dropdown ms-3">
                <a class="nav-link dropdown-toggle text-nowrap pe-0" href="#" id="navbarColorTheme" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span><i
                    class="bi bi-gear-fill" title="Settings" aria-hidden="true"></i></span></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarColorTheme">
                    {% for css_theme in css_themes %}
                    <a class="dropdown-item pm-onclick-set-css-theme" href="#" data-pm-theme-name="${css_theme.name}"><i
                       class="bi bi-${css_theme.other_icon} me-3" aria-hidden="true"></i><span>${css_theme.name}
                       </span><i class="bi bi-check invisible ms-3" aria-hidden="true"></i></a>{% end %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item pm-onclick-show-api-token-modal" id="apiTokenMenuItem" href="#"><i
                       class="bi bi-key-fill me-3" aria-hidden="true"></i><span>API Token</span><i
                       class="bi bi-x ms-3 text-danger invisible" aria-hidden="true"></i></a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-item disabled text-center mb-1" style="line-height: 1em;"><small>generated by<br>
                       Pagemarks v${pagemarks_version}</small></p>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div id="pm-demo-announce" class="row d-none"><div class="col mb-1">
        <p class="text-warning">This Pagemarks collection runs in <b>demo mode</b>, which means that it runs without a
           backend server. Any changes to the dummy bookmarks will be reset when the page reloads.</p>
    </div></div>
    <div id="apiTokenAlertRow" class="row d-none"><div class="col">
        <div class="alert alert-dismissible alert-danger fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong>Validation Error:</strong> Your GitLab API token did not validate anymore. Get a new token with
            <code>api</code> scope <a href="https://gitlab.com/-/profile/personal_access_tokens" target="_blank"
            class="alert-link">from GitLab</a>, then <a href="#" class="alert-link pm-onclick-show-api-token-modal"
            >update it here</a>.
        </div>
    </div></div>
    <div class="row pagemarks-shuffle-container">
        <!-- //BOOKMARKS// -->
    </div>
</div>

<!-- //SETTINGS-APITOKEN// -->
<!-- //DIALOG-EDIT// -->

    {# jQuery first, then Popper.js/Bootstrap JS, then Shuffle #}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous"
        integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.4.1/shuffle.min.js" crossorigin="anonymous"
        integrity="sha384-5ZC0ujMZ9gWIGP09nbklBhDOeUyNm9lT6XWG2wUT2DUuVx3+D3CBL1rC+J/kAi0y"></script>
    <script type="text/javascript" src="${baseurl}/js/vendor/tagify.min.js"></script>
    <script type="module" src="${baseurl}/js/vendor/core.js"></script>
    <script type="module" src="${baseurl}/js/vendor/sha1.js"></script>
    <script type="module" src="${baseurl}/js/metadata.js"></script>
    <script type="module" src="${baseurl}/js/globals.js"></script>
    <script type="module" src="${baseurl}/js/tags-${file_basename}.js"></script>
    <script type="module" src="${baseurl}/js/css-theme.js"></script>
    <script type="module" src="${baseurl}/js/spi.js"></script>
    <script type="module" src="${baseurl}/js/gitlab.js"></script>
    <script type="module" src="${baseurl}/js/settings.js"></script>
    <script type="module" src="${baseurl}/js/delete.js"></script>
    <script type="module" src="${baseurl}/js/edit.js"></script>
    <script type="module" src="${baseurl}/js/pagemarks.js"></script>
</body>
</html>
